[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "alacritty"]
	path = alacritty
	url = https://github.com/louis-dotfiles/alacritty
[submodule "starship"]
	path = starship
	url = https://github.com/louis-dotfiles/starship
[submodule "neovim"]
	path = neovim
	url = https://github.com/louis-dotfiles/neovim
[submodule "zsh"]
	path = zsh
	url = https://github.com/louis-dotfiles/zsh
[submodule "git"]
	path = git
	url = https://github.com/louis-dotfiles/git
