[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "alacritty"]
	path = alacritty
	url = git@github.com:louis-dotfiles/alacritty.git
	branch = main
[submodule "starship"]
	path = starship
	url = git@github.com:louis-dotfiles/starship.git
	branch = main
[submodule "neovim"]
	path = neovim
	url = git@github.com:louis-dotfiles/neovim.git
	branch = main
[submodule "zsh"]
	path = zsh
	url = git@github.com:louis-dotfiles/zsh.git
	branch = main
[submodule "git"]
	path = git
	url = git@github.com:louis-dotfiles/git.git
	branch = main
[submodule "aliases"]
	path = aliases
	url = git@github.com:louis-dotfiles/shell-aliases.git
	branch = main
[submodule "awesome"]
	path = awesome
	url = git@github.com:louis-dotfiles/awesome.git
